<div class="header">
    <a href="/">
        <h1><span style="color:pink">Zip</span>Boing</h1>
    </a>
    <hr>
</div>
<br>

<body>
    <form action="/create_private_area" method="POST">
        <p><b>Name your area: </b><br>
            <input type="text" name="theme"><br>
        </p>
        <input type="submit" value="Create">
    </form>
</body>


<hr>
<a href="/">Back to front page</a>

<style>
    .header {
        padding-top: 20px;
        text-align: left;

    }

    .header>a {
        text-decoration: none;
        color: inherit;
        font-size: large;
    }
    body>a {
        color: cornflowerblue;


    }

    body {
        margin-left: 30px;
    }
</style>