<div class="header">
    <a href="/">
        <h1><span style="color:pink">Zip</span>Boing</h1>
    </a>
    <hr>
</div>
<br>

<body>
    <h3>Search results:</h3>
    {% for message in messages %}


    <p>
        <li><a href="/convo/{{ message[2] }}">{{ message[0] }}</a>| <b>{{ message[1] }}</b></li>
        <br>
    <p>


        {% endfor %}

        <hr>
        <a href="/">Back to front page</a>
</body>

<style>
    .header {
        padding-top: 20px;
        text-align: left;

    }

    .header>a {
        text-decoration: none;
        color: inherit;
        font-size: large;
    }

    body {
        margin-left: 30px;
    }

    body  >a {
        color: cornflowerblue;

    }

    li > a {
        color: cornflowerblue;

    }

    p {
        margin-bottom: 20px;
    }

    h3 {
        text-decoration: underline;
    }
</style>